.ant-modal-body {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.menu {
  &-content {
    width: 256px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -100%;
    z-index: 1;
    transition: all 0.5s ease;
    background-color: white;
    h2 {
      text-align: center;
      margin-top: 25px;
      color: black;
    }
    &-block {
      margin-bottom: 20px;
      padding-left: 24px;
      padding-right: 15px;
      label {
        margin-bottom: 20px;
        display: block;
        &:first-child {
          margin-top: 10px;
        }
      }
    }
  }
  &-button {
    display: block;
    background-color: transparent;
    padding: 0 15px;
    height: 30px;
    border: 2px solid white;
    top: 20px;
    right: 20px;
    margin: 0;
    margin-bottom: 15px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    transition: all 0.3s ease;
    &:hover {
      background-color: white;
      color: black;
    }
  }
  &-modal {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    div {
      width: 50%;
    }
  }
}

