.custom {
  &-block {
    margin-bottom: 20px;
    padding-left: 24px;
    padding-right: 15px;

    label {
      margin-bottom: 20px;
      display: block;

      &:first-child {
        margin-top: 10px;
      }
    }
  }
}
